div.tfw-view-image {
  content            : ".";
  font-size          : 0;
  opacity            : 0;
  background-position: left top;
  background-size    : cover;
  background-repeat  : no-repeat;
}
div.tfw-view-image.show {
  opacity   : 1;
  transition: opacity .7s;
}