div.tfw-layout-stack.fullscreen {
  position: absolute;
  left    : 0;
  top     : 0;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}
div.tfw-layout-stack.fullscreen > div {
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}
