div.tfw-view-TextArea {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: .5rem;
    transition: all .2s;
    background: transparent;
}

div.tfw-view-TextArea.wide {
    display: flex;
}

div.tfw-view-TextArea input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: 0 .25rem;
    line-height: 2rem;
    transition: all .2s;
}
