html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f0fafb;
}

a:link {
  text-decoration: none;
  color: black;
}

button {
  border: 1px solid #007dc1;
  cursor: pointer;
  background-color: #014f86;
  color: white;
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
}

button:active {
  position: relative;
  top: 1px;
  background-color: #0096d3;
}

iframe{
  display: none;
}

label {
  height: 0px;
}

.buttonPressed {
  background-color: #0096d3;
}

.cancelUploadSpan {
  cursor: pointer;
}

.controlIcon {
  margin: 15px;
}

.curtain {
  background-color: black;
  position: absolute;
}

.display {
  position: relative; 
  outline: solid black;
}

.file-input input {
  visibility: hidden;
  width: 80px;
  float:left;
}

.file-input:before {
  content: 'BROWSE';
  border: 1px solid #007dc1;
  cursor: pointer;
  background-color: #014f86;
  color: white;
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
  padding: 1px;
  display: block;
  outline: none;
  font-weight: normal;
  text-align: center;
  position: relative;
  height: 19px;
}

.formButton {
  width: 70px;
}

.infoMenu {
  padding: 10px;
  text-align: left;
  background-color: white;
  width: auto!important
}

.infoIcon{
 margin-top: 5px;
 margin-left: 5px
}

.menuButton:disabled{
  background-color: lightsteelblue;
}

.screen {
  pointer-events: none;
  outline: 0px solid black;
  height: auto;
  display:grid;
  position: relative;
}

.screenbezel {
  pointer-events: none;
  background-color: orange;
  position: absolute;
  opacity: 0;
}

.sessionTree {
  position: relative;
  background-color: transparent;
  width:100%;
}

.thumbnail {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.topMenu {
  display: none;
  position: absolute;
  margin: 0 auto;
  width: 400px;
  height: auto;
  max-height: 768px;
  overflow-y: auto;
  z-index: 100;
}

.optionInput {
  float: left;
}

.optionLabel
{
  height: 1em;
  font-weight: normal;
  clear: both;
  float:left;
 }

.optionsMenu {
  padding: 5px;
  padding-right: 15px;
  background-color: white;
  width: auto
}

.textInput {
  width: 60%;
  height: 25px;
  margin-top: 3px;
}

.ui-resizable-se {
  background-image: none;
}

.ui-resizable-e {
  margin: 0px;
  width: 50px;
}

.ui-resizable-s {
  margin: 0px;
  height: 20px;
}

.uploadMenu {
  background-color: white;
  min-height: 20px;
  position: absolute;
  overflow-y: auto;
  border-color: lightgrey;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.windowControl {
  background: yellow;
  left: -80px;
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.windowControls {
  top: 0px;
  position: absolute;
  width: 75px;
  height: 300px;
}

.windowControl.focusButtonHidden {
  visibility: hidden;
}

.windowControl.focusButtonVisible {
  visibility: visible;

}

.windowDiv {
  position: absolute;
  box-shadow: 0 0 40px rgba(0, 0, 0, 6);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 6);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 6);
  -o-box-shadow: 0 0 40px rgba(0, 0, 0, 6);
}

.windowDiv.windowSelected {
  box-shadow: 0 0 40px rgba(255, 255, 0, 6);
  -moz-box-shadow: 0 0 40px rgba(255, 255, 0, 6);
  -webkit-box-shadow: 0 0 40px rgba(255, 255, 0, 6);
  -o-box-shadow: 0 0 40px rgba(255, 255, 0, 6);

}

.windowDiv.windowFullscreen {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

#buttonContainer {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-top: 5px;
  border: 0px solid;
  width: 1200px;
  z-index: 100;
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
  font-weight: normal;
}

#infoContainer {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-top: 5px;
  border: 0px solid;
  width: 100%;
  z-index: 0;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
}

#infoBox{
  top: 0;
  width: 75px;
  display: block;
  text-align: right;
  margin-top: 0;
  position: absolute
}

#lock{
  height: 50%;
  margin: 0 auto;
  position: relative;
  display: block;
  top: 25%
}

#outputList {
  padding-left: 10px;
  padding-right: 10px;
  list-style-type:none;
}

#stickToOverlay {
  background-color: orange;
  border: 10px solid darkorange;
  opacity: 0.5;
  z-index: 102;
  position: fixed;
  display: none
}

#submitButton {
  display: none;
}

#wall, #wallLock, #wallOutline {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   height: 100%;
   
}

#wall {
  z-index: 0;
  display: grid;
  opacity: 1;
}

#wallLock {
  z-index: 101;
  opacity: 0;
  display: none;
}

#wallLockImg {
  margin: 0 auto;
  position:relative;
  top: 25%;
  display:block;
}

#wallOutline {
  outline: 0px solid black;
  z-index: 0;
  display: grid;
  opacity: 1;
}

#wallWrapper {
  height: 99%;
  width: 99%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-image: -webkit-linear-gradient(#014f86, #0096d3);
}

::-webkit-scrollbar-track {
  display: none;
}
