div.tideGuide-Searchs {
    height: calc(100vh - 128px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.tideGuide-Searchs > header,
div.tideGuide-Searchs > hr,
div.tideGuide-Searchs > nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

div.tideGuide-Searchs > div {
    flex: 1 1 auto;
    overflow: auto;
}

div#sessionMenu.react-root {
    overflow: visible;
}

div.tideGuide-Searchs > div.wait {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
}
